/* NavTabs.css */
.nav-tabs {
    max-width: 1280px; /* Corrected max-width with a unit (e.g., px) */
    font-size: large;
    background-color: #333;
    border-bottom: 50px solid skyblue; /* Increased border thickness */
    color: white;
    display: flex;
    justify-content: flex-end; /* Move text to the right */
    background-image: url(../assets/turned-gray-laptop-computer.jpg);
    background-size: cover; /* Make the background image cover the container */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
  }
  
  .nav-link {
    color: grey; /* Set the text color for inactive links */
  }
  
  .nav-link.active {
    background-color: #007bff; /* Set the background color for the active link */
  }
  
  